/* Larger than mobile */
@media screen and (max-width: 1210px){
  #aboutUs .socialBtn .fa {
    width:40px;
  }
}
@media screen and (max-width: 1055px){
  #ourOpinion .quote {
  	font-size: 20px;
  }
  #ourOpinion .name{
  	font-size: 20px;
  }
  #ourOpinion .job{
    font-size: 12px;
  }
  #ourOpinion .prev, .next {
    font-size: 120px;
  }

  .pict{
   height:150px;
   width:150px;
 }

  .backText{
   height:170px;
   width:170px;
 }

 .imgRounded{
     width: 150px;
     height: 150px;
 }

 #aboutUs .name{
     max-width:250px;
     font-size: 20px;
 }

 #aboutUs .emailBtn{
   font-size: 12px;
 }

 #aboutUs .socialBtn{
 	font-size: 20px;
 }
 #aboutUs .socialBtn .fa {
   width:30px;
 }
}
@media screen and (max-width: 780px){
  #ourOpinion .name{
  	font-size: 18px;
  }
  #ourOpinion .job{
    font-size: 10px;
  }
  #aboutUs .emailBtn{
    font-size: 10px;
  }

  #aboutUs .socialBtn{
  	font-size: 18px;
  }
  #aboutUs .socialBtn .fa {
    width:30px;
  }
}
@media screen and (max-width: 750px) {
    /* Header  sama dengan style.css*/
    /* Site Menu */

    .site-menu {
        top: 100px;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        z-index: 3;
        background-size: auto 80px
    }
    .site-menu .menu ul > li {
        display: block !important;
    }
    .site-menu .menu {
        position: static;
        float: none ;

    }
    .site-menu .container {
        width: 100% !important;
        padding: 0px !important;
    }
    .site-menu .hamburger{
        position: relative;
        left: 11%;
        bottom: 17px;
        width: 50%;
    }
    .menu{
        font-size:0.8em;
        width:100%;
        background:gray;
        position:relative;
        background-position:center;
        background-size : 150%;
        text-align:center;
        z-index: 4;
    }
    .menu ul {
        margin: 0;
        padding: 0px 28px;
        list-style-type: none;
        list-style-image: none;
    }
    .menu li {
        display: block;
        padding:15px 0 15px 0;
        border-bottom:#1d1f20 1px solid;
    }
    .menu li:hover{
        display: block;
        background:#181818;
        padding:15px 0 15px 0;
        border-bottom:#1d1f20 1px solid;
    }
    .menu ul li a {
        text-decoration:none;
        margin: 0px;
        color:#fff;
    }
    .menu ul li a:hover {
        color: #fff;
        text-decoration:none;
    }
    .menu a{
        text-decoration:none;
        color:white;
    }
    .menu a:hover{
        text-decoration:none;
        color:white;
    }


    .site-menu a{
        display: inline-block ;
        position: relative;
        top: 15px;
        left: 15px;
        padding-bottom: 0px;
        }
    .site-menu .closebtn {
        position: relative;
        top: 15px;
        font-size: 38px;
        visibility: visible;
    }

    .site-menu span{
        visibility: visible;
        position: relative;
    }

    #ourOpinion .quote {
    	font-size: 15px;
      margin-left: 5px;
    }
    #ourOpinion .name{
    	font-size: 15px;
    }
    #ourOpinion .job{
      font-size: 7px;
    }
    #ourOpinion .prev, .next {
      font-size: 50px;
    }
    .pict{
     height:130px;
     width:130px;
   }

    .backText{
     height:150px;
     width:150px;
   }

   .imgRounded{
       width: 130px;
       height: 130px;
   }


  }
@media screen and (max-width: 550px){
  #ourOpinion .pict{
  	right: 0%;
    margin-bottom: 2%;
  }
  #ourOpinion .quote {
  	font-size: 20px;
    text-align: center;
  }
  #ourOpinion .name{
  	font-size: 20px;
  }
  #ourOpinion .job{
    font-size: 12px;
  }
  #ourOpinion .prev, .next {
    font-size: 120px;
  }
  #ourOpinion .bio{
    text-align: center;
  }

  .pict{
   height:250px;
   width:250px;
 }

  .backText{
   height:270px;
   width:270px;
 }

 .imgRounded{
     width: 250px;
     height: 250px;
 }

 #aboutUs .name{
     max-width:350px;
     font-size: 3.6rem;
 }

 #aboutUs .emailBtn{
   font-size: 15px;
 }

 #aboutUs .socialBtn{
 	font-size: 30px;
 }
 #aboutUs .socialBtn .fa {
   width:50px;
 }
}
