
#ourOpinion {
	background-image: url('../bg4.png');
	height: auto;
  width: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white; !important
}

#ourOpinion .title{
  padding: 1.5%;
}

#ourOpinion .text{
  padding: 0% 1% 2% 1%;
	margin: 0% 15%;
	font-size: 20px;
}

#ourOpinion .btnLike{
	width: auto;
	min-width: 200px;
	border: 2px solid white;
	background-color: green;
}

#ourOpinion .wing{
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 150px;
}

#ourOpinion .pict{
	right: -15%;
}

#ourOpinion .quoteIcon{
	position: absolute;
	top: -11px;
	right: -2px;
	font-size: 250%;
	color: #00c282;
}

#ourOpinion .job{
	display: inline-block;
	font-style: italic;
	font-weight: bold;
	color:#00c282;
}

#ourOpinion .twelve {
	padding-bottom: 5%;
}

#ourOpinion .quote {
	height: auto;
	margin-bottom: 11%;
}

#ourOpinion .name{
	display: inline-block;
	line-height: 24px;
	font-weight: bold;
	margin-right: 2%;
}

#ourOpinion .content{
	text-align:left;
}

#ourOpinion .pict:hover .quoteIcon{
	color:black;
	transition: .5s ease;
}


.slides {display:none}

#ourOpinion .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#ourOpinion .prev, .next {
  cursor: pointer;
	position: sticky;
  top: 50%;
	font-weight: bold;
	font-size: 150px;
	width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #00c282;
  transition: 0.6s ease;
  border-radius: 50%;
	z-index: +1;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none
}

#ourOpinion .prev:hover, .next:hover {
  color: white;
	transition: 0.6s ease;
}

#ourOpinion .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
























 .pict{
	position:relative;
  height:250px;
  width:250px;
  border-radius:50%;
  background-color: black;
  opacity: 1;
}


 .backText{
  position: absolute;
  height:270px;
  width:270px;
  border-radius:50%;
  //padding: 0px 5px 0px 0px;
  background-color: white;
  opacity: 0.3;
  top:-10px;
  left:-10px;
}

#map{
  position: relative;
  width:100%;
  height:300px;
	background-color: #0B0F10;
  border-bottom: 30px solid #0B0F10;


}

.imgRounded{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 0px 0px 0px 0px;
    transition: .5s ease;
    border-radius:50%;
    backface-visibility: hidden;
    display: block;
}

#aboutUs .name{
    width: auto;
		max-width:350px;
 // background-color: white ;
    border:2px solid white;
    padding: 4px;
    transition: .5s ease;
    margin-top: 20px;
		margin-bottom: 10px;
}

#aboutUs .nameOn{
  background-color: white ;
  transition: .5s ease;
  text-shadow: 0 0 3px #FF0000;
  color:black;
}


#aboutUs .socialBtn{
	width: auto;
	height: auto;
	font-size: 30px;
	padding-bottom: 1%;
}

#aboutUs .fa {
  padding: 0% 2%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

#aboutUs .fa:hover {transition: .5s ease;}

#aboutUs .fa-facebook:hover{color:#458eff;}
#aboutUs .fa-instagram:hover{color:#fb3958;}
#aboutUs .fa-twitter:hover {color:#1da1f2;}
#aboutUs .fa-google-plus:hover{color:#d34836;}

#aboutUs .emailBtn:hover{
  color:#1da1f2;
	transition: 0.5s ease;
}

#aboutUs .emailBtn{
	transition: 0.5s ease;
	margin-bottom: 10%;
}

#aboutUs .fa-paper-plane-o {
	width:auto;
	padding: 0% 1%;
}

.centerImage {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

 .pict:hover .imgRounded{
  opacity: 0.3;
}

.pict:hover .centerImage {
  opacity: 1;
}

#aboutUs .text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  text-shadow: 0 0 3px #FF0000;
}

#aboutUs {
  height: auto;
  width: auto;
  padding: 5% 4%;
  background-color: #0B0F10;
  color: white; !important
}

#aboutUs .title {
  position: relative;
  margin-top:-4%;
  margin-bottom: 4%;
}

#endWeb {
	background-color: #0B0F10;
	margin-bottom: 0px;
	height: auto;
}

#endWeb .copyRight{
	 margin-bottom:0px;
	 padding-bottom: 1%;
	 margin-top: 1%;

}

#endWeb{
	color: white; !important
}

#endWeb .icons{
	width: 200px;
	height: 200px;
	border: 4px solid white;
	border-radius: 10%;
	background-color: grey;
	padding: 1%;
	margin: 2%;
}
