/*page 1 style*/
/*aboutDota*/

.forReveal {
  visibility: hidden;
}


#aboutDota .sub-title , .main-title{
    position: relative;
    margin-bottom:10px;
  }

#aboutDota .garis {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 20%;
  height: 2px;
  background: #fff;
  margin-top:5px;
  margin-bottom: 10px;

}
/*
#aboutDota #main {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 2px;
  background: #fff;
}

#aboutDota  {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.5%;
  height: 2px;
  background: #d7d7;
  padding-top: 3px;
}*/



#aboutDota{
    height: 450px;
    position: static;
    box-sizing: border-box;
    background-color: #0B0F10;
    padding: 50px 50px;
    z-index: 1;

}
#aboutDota img {
    position: static;
    width: 200px;
    height: 350px;
}

#aboutDota .icon {
    position: relative;
    width: 56% ;
    height: 90px ;
}

.color {
    color: #ffff !important;
}

/*treasure*/

#treasure {
    height: 750px;
    position: static;
    box-sizing: border-box;
    background-color: #0B0F10;
    padding: 50px 50px;
    z-index: 1;
    font-family: 'Poppins' !important;
}

@keyframes moveIt {
      0% { -webkit-transform : rotateY(0deg) rotateZ(0deg)}
      50% { -webkit-transform : rotateY(20deg) rotateZ(20deg)}
      100% { -webkit-transform : rotateY(0deg) rotateZ(0deg)}
}


@keyframes example {
    from {background-color: white;}
    to {background-color: green;}
}


@keyframes out {
    from {background-color: green;}
    to {background-color: white;}
}




#treasure .circle {
  border-width : 1px;
  border-color: #CCC;
  border-top: dashed;
  border-bottom : dashed;
  border-left: solid;
  border-right: solid;
  border-radius: 50%;
  display: inline-flex;
  padding : 0px !important;
}
/*25 30*/
#treasure .inner {
  background-color: white;
  border-radius: 50%;
  margin: 4.5px;
  height: 45px;
  width: 45px;
  padding: 9px !important;
}

.text-title {
  padding: 0 !important;
  margin : 0 !important;
}

#treasure img {
    width: 100%;
    position: static;
    align-items: center;
    margin : 0;
    padding-top: 50px;
}

#treasure .color {
    color: #ffff !important;
}

#treasure .test {
  color: #F312;
    background-color: #FFFF;
    border-radius: 0;
    -webkit-transition: border-radius 2s; /* For Safari 3.1 to 6.0 */
    transition: border-radius 2s;
}

#treasure .test:hover {
  color: #FFFF;
  background : #84d0FF;
background-blend-mode: screen;
  background-color: grey;
  border-radius: 50%;
}

#treasure h1 {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 5%;
}

#treasure h5{
    margin:0;
}

td {
  border-bottom: none !important;
}

td.padL {
  padding-left: 0px !important;
}

/* Battle Pass */

#battlepass {
    height: 550px;
    position: static;
    box-sizing: border-box;
    background-color: #0B0F10;
    padding: 0 !important;
    z-index: 1;
    font-family: 'Poppins' !important;
}

#battlepass img {
  position: relative;
  height: 200px;
  opacity: 1;
}

#battlepass .three.columns {
  width: 32% !important;
  position: relative;
  z-index: 1;
}
