/*page 1 style*/
/*aboutDota*/

#aboutDota .sub-title , .main-title{
    position: relative;
  }
#aboutDota .sub-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 2px;
  background: #fff;
}

#aboutDota .main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 2px;
  background: #fff;
}

#aboutDota .main-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.5%;
  height: 2px;
  background: #d7d7;
  padding-top: 3px;
}
#aboutDota{
    height: 450px;
    position: static;
    box-sizing: border-box;
    background-image: url('../bg2.png');
    padding: 50px 50px;
    z-index: 1;
}
#aboutDota img {
    position: static;
    width: 200px;
    height: 350px;
}

#aboutDota .icon {
    position: relative;
    width: 120px ;
    height: 90px ;
}
#aboutDota .color {
    color: #ffff !important;
}

/*treasure*/

#treasure{
    background-image: url('../bg3.png');
    background-repeat: no-repeat;
    height: auto;
    margin-left: 0;
    padding: 50px 0px;
}
#treasure h2{
    background-color:#f15b42;
    border-radius: 10px;
    width:50%;
    color: white;
}
#treasure img{
    position: relative;
    top: 50px;
    width: 175px;
    margin: 25px 0;
}

#treasure .twelve{
    position: relative;
    color: black;
    padding-bottom: 20px;
}

#treasure .four{
    border-radius: 10px;
    background-color:#786F66;
    background-position: center;
    color: black;
}
#treasure h4{
    font-size: 20px;
}
