
@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: normal;
    src: url('../webfonts/CaviarDreams_Italic.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: normal;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: "CaviarDreams";
    font-style: italic;
    font-weight: bold;
    src: url('../webfonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: "BebasNeue";
    font-style: normal;
    font-weight: normal;
    src: url('../webfonts/BebasNeue Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family:  "BebasNeue" !important;
}

body {
    background-color: #0B0F10;
    font-family: "CaviarDreams";
}

a{
    display: block;
        color: #fff ;
}
/* Header */

.header {
    padding: 20px 0;
    box-sizing: border-box;
}

/* Site Menu */

.site-menu {
    width: 100%;
    box-sizing: border-box;
    background-image: url('../bgheader.png');
    background-repeat: no-repeat;
    background-size: auto 90px;
    z-index: 3;
}
.site-menu .menu ul{
    margin: 0px !important;
}
.site-menu .logo {
    display: block;
    float: left;
    width: 50px;
    padding: 10px 5px;
}

.site-menu .menu {
    position: relative;

}

.site-menu .menu ul > li {
    display: inline-block;

}

.site-menu .menu ul > li a {
    display: block;
    font-size: 18px;
    line-height: 55px;
    padding: 0px 20px;
    text-decoration: none;
}

.site-menu .closebtn{
    visibility: hidden;
    position: fixed;
}

.site-menu span{
    visibility: hidden;
    position: fixed;
    font-size:20px;
    cursor:pointer;
}
.site-menu .logo2{
    display: none;
}


/* Home */

.Home{
    position: relative;
    display: block;
    height: 550px;
}

#Home .teks{
        position: relative;
        top:110px;
}

#Home img {
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: -1;
}

#Home .bg1{
        width:300px;
        height:55px;
        border-radius: 20px;
        background-color: white;
        color: #bf3b2b;
        position: relative;
        top: 15px;
}

#Home2 {
    height: 810px;
}
#Home2 .teks{
        position: relative;
        top: 55px;
}

#Home2 .bg1{
        width:100%;
        height:100%;
        border-radius: 10px;
        background-image: url(../bgheader.png);
        background-size: 100% 50px;
        background-repeat: no-repeat;
        color: white;
        position: relative;
        top: 15px;
        z-index: 2;
}

#Home2 .bg2{
    border-radius: 10px;
    background-image: url(../bg2.png);
    background-size: 100%;
    color: white;
    font-size: 25px;
    padding: 25px 0px;
    position: relative;
    top: -25px;
    z-index: 1;
}

#Home2 img{
    width: 351px;
}

/*lainnya*/


#menu .menu-link {
    font-size: 18px;
}

#heroes {
    background-color: #0B0F10;
}
#heroes button{
    margin: 10px;
}
#heroes img{
    width: 100%;
}
#heroes .caption p{
    font-size: 10px;
}
#heroes .caption{
    height: 60px;
    width: 100%;
    color: white;
    background-color: #211D1A;
    margin-bottom: 15px;
}
#heroes .ng-repeat{
      transition:all ease-in 0.25s;
}
@keyframes added {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@keyframes deleted {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: rotateY(360deg);
  }
}

.pictureHeroes.ng-enter {
  animation: 1s linear added;
}

.pictureHeroes.ng-leave {
  animation: 1s linear deleted;
}
/*page 1 style*/
/*aboutDota*/

#aboutDota{
    height: 450px;
    position: static;
    box-sizing: border-box;
    background-image: url('../bg2.png');
    padding: 50px 50px;
    z-index: 1;
}
#aboutDota img {
    position: static;
    width: 200px;
    height: 350px;
}

#aboutDota .color {
    color: #ffff !important;
}

/*treasure*/

#treasure{
    background-image: url('../bg3.png');
    background-repeat: no-repeat;
    height: auto;
    margin-left: 0;
    padding: 50px 0px;
}
#treasure h2{
    background-color:#f15b42;
    border-radius: 10px;
    width:50%;
    color: white;
}
#treasure img{
    position: relative;
    top: 50px;
    width: 175px;
    margin: 25px 0;
}

#treasure .twelve{
    position: relative;
    color: black;
    padding-bottom: 20px;
}

#treasure .four{
    border-radius: 10px;
    background-color:#786F66;
    background-position: center;
    color: black;
}
#treasure h4{
    font-size: 20px;
}

/*Page 2*/

#aboutUs .circleImage{
    width: 10%;
    height: 10%;
    border-bottom:20px solid #786F66
}
.pictureHeroes a .name {
	top: 0px;
	left: -100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pictureHeroes a:hover .name{
	left: 0px;
}
.pictureHeroes a,
.pictureHeroes a img {
	display: block;
	position: relative;
}
.pictureHeroes img{

}
.pictureHeroes a {
	overflow: hidden;
}
.pictureHeroes .name {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.pictureHeroes a .name span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

.animateSlider{
    animation:Myslider 14s infinite;
    animation-direction:alternate;}

    @keyframes Myslider{
        0%{opacity:0}50%{opacity:1}100%{opacity:0.1}
        from{transform:scale(1);}
        to{transform:scale(1.5);
        transition:all ease-out 0.25s;}
    }

.hideSlider{
    display:none;
}
.showSlider{
    display:block;
}

#Home .Slider-btn
{
    transform: scale(0.4);
    background-color: gray;
    margin: 0 !important;
    position: relative;
    float: right;
}

#fixedSite-Menu{
    position: fixed !important;
    top: 0;
    display: none;
}

#Home .sliderrow{
    padding: 20% 2% 0% 0% ;
}

#Home .Slider-btn:hover{
    background-color: rgb(11, 15, 16);
    transition-duration: 0.4s;
}
