<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dota2</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/page1.css">
  <link rel="stylesheet" href="css/page2.css">
  <link rel="stylesheet" href="css/mobile.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular/angular.animate.js"></script>
  <script src="bower_components/scrollreveal/dist/scrollreveal.js"></script>
  <script src="bower_components/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal();

    // Add class to <html> if ScrollReveal is supported
    // Note: this method is deprecated, and only works in version 3
    if (sr.isSupported()) {
      document.documentElement.classList.add('sr');
    }

  </script>
 </head>
<body ng-app="appitfest">

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="site-menu" class="site-menu">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <center>
                <div class="hamburger"><span><span class="openbtn" onclick="openNav()">&#9776;</span><span class="closebtn" onclick="closeNav()" >&#735;</span></span></div>
                <nav class="menu" id="menu">
                    <ul>
                        <li><a class="menu-link" onclick="closeNav()" href="#Home">Home</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutDota" >About Dota2</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#treasure" >Treasure</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#equipment" >Equipments</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#heroes" >heroes</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutUs" >About Us</a></li>
                    </ul>

                </nav>
                </center>
            </div>
        </div>
    </div>

</section>
<section id="fixedSite-Menu" class="site-menu">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <center>
                <div class="hamburger"><span><span class="openbtn" onclick="openNav()">&#9776;</span><span class="closebtn" onclick="closeNav()" >&#735;</span></span></div>
                <nav class="menu" id="menu">
                    <ul>
                        <li><a class="menu-link" onclick="closeNav()" href="#Home">Home</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutDota" >About Dota2</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#treasure" >Treasure</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#equipment" >Equipments</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#heroes" >heroes</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutUs" >About Us</a></li>
                    </ul>

                </nav>
                </center>
            </div>
        </div>
    </div>

</section>
<section id="isi">
    <section id="Home" class="Home">
                    <div class="twelve columns">
                        <img class="mySlider animateSlider" src="images/slider/1.jpg">

                        <img class="mySlider animateSlider" src="images/slider/2.jpg">
                        <img class="mySlider animateSlider" src="images/slider/3.jpg">
                        <img class="mySlider animateSlider" src="images/slider/4.jpg">
                        <div class="content">
                            <div class="eleven columns">
                                <div class="twelve columns TextSliderOne">
                                    <div class="row">
                                            <div class="eight columns">
                                                <span >
                                                    <h1>Dota2</h1>
                                                    <p style="text-align: justify">
                                                    Is a free-to-play multiplayer online battle arena(MOBA) video game developed and published by Valve Corporation.
                                                    The game is the stand-alone sequel to Defense of the Ancients(DotA), which was a community-created mod for Blizzard Entertainment's Warcraft III: Reign of Chaos and its expansion pack, The Frozen Throne.
                                                    Dota 2 is played in matches between two teams of five players, with each team accupying and defending their own separate base on the map.
                                                    </p>
                                                </span>
                                            </div>
                                            <div class="four columns">
                                                <img class="logo" src="images/logo.png">
                                            </div>
                                    </div>
                                </div>
                                <div class="twelve columns TextSliderTwo">
                                    <div class="row">
                                        <center>
                                            <h1>Two New Heroes in Dota 2</h1>
                                            <p>
                                                Valve has confirmed two new heroes to be include in Dota 2, as presented in a<br/> new trailer shown during The International 7.<br/>
                                                The Heroes will be introduced in "The Dueling Fates" update.
                                            </p>
                                        </center>
                                    </div>
                                </div>
                            </div>
                            <div class="one column">
                                <div class="sliderrow">
                                    <div class="row">
                                        <button class="Slider-btn activeOne" onclick="changeSlid(0)"> </button>
                                    </div>
                                    <div class="row">
                                        <button class="Slider-btn activeTwo" onclick="changeSlid(1)"> </button>
                                    </div>
                                    <div class="row">
                                        <button class="Slider-btn activeThree" onclick="changeSlid(2)"> </button>
                                    </div>
                                    <div class="row">
                                        <button class="Slider-btn activeFour" onclick="changeSlid(3)"> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </section>
    <div ng-controller="include_controller">
        <div ng-include="pageone.url"></div>
    </div>
        <section id="heroes" class="heroes" ng-controller="heroes_controller">
            <div class="container" >
                <center> <h1>Dota's Heroes</h1>
                    Dota have a lot of hero and they have their own role like Carry, Support, Nuker, Initiator, etc.<br/>
                    Hence, they have two attack type Melee and Ranged.<br/>
                    Before choose a hero, the player have to see the primary attribute from hero like Strength, Agility, and Intelligence <br/>because each attribute is unique<br/>
                    <button ng-click="filterBy()" class="btnAll"> All </button><button ng-click="filterBy('Strength')" class="btnStrength"> Strength </button><button ng-click="filterBy('Agility')" class="btnAgility"> Agility </button><button ng-click="filterBy('Intelligence')" class="btnIntelligence"> Intelligence </button>
                </center>
                    <div class="twelve columns" >
                        <div class="pictureHeroes three columns" ng-repeat="i in image | filter: myfilterBy">
                            <a><img src={{i.src}}>
                            <div class="name"><span>{{i.name}}</span></div>
                            </a>
                            <div class="caption">Skill :<p>{{i.skill}}</p></div>

                        </div>
                    </div>
            </div>
        </section>
        <div ng-controller="include_controller">
        <div ng-include="pagetwo.url"></div>
        </div>

</section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/menu.js"> </script>
  <script src="js/modernizr.custom.97074.js"></script>
  <script src="js/style.js"></script>
  <script src="js/slider.js"></script>
  <script>
  sr.reveal('.heroes .container', {origin: 'left', rotate: {x:0, y:0, z:-90}, duration: 1000});
  </script>
</body>
</html>
