<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dota2</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/mobile.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
 </head>
<body ng-app="include_file">

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section id="site-menu" class="site-menu">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <center>
                <div class="hamburger"><span><span class="openbtn" onclick="openNav()">&#9776;</span><span class="closebtn" onclick="closeNav()" >&#735;</span></span></div>
                <nav class="menu" id="menu">
                    <ul>
                        <li><a class="menu-link" onclick="closeNav()" href="#Home">Home</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutDota" >About Dota2</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#treasure" >Treasure</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#equipment" >Equipments</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#heroes" >heroes</a></li>
                        <li><a class="menu-link" onclick="closeNav()" href="#aboutUs" >About Us</a></li>
                    </ul>

                </nav>
                </center>
            </div>
        </div>
    </div>

</section>

    <section id="isi" ng-controller="include_controller">
        <section id="Home" class="Home">
                    <div class="twelve columns">
                        <img src="head.png">
                    </div>
        </section>
        <div ng-model="template" ng-repeat="t in templates">
        <div ng-include="t.url"></div>
    </div>

    <section id="aboutUs" class="aboutUs">
    </section>
    <section id="penutup">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
</section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/menu.js"> </script>
  <script src="js/style.js"></script>
  <script src="js/slider.js"></script>
</body>
</html>
